<nav>
  <div class="nav-wrapper black">
    <a class="brand-logo" [routerLink]="['/']">Get It Done</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li class="route-item" [routerLinkActive]="['active']"  [routerLinkActiveOptions] = "{exact:true}">
        <a class="route"  [routerLink]="['/']"> Home </a>
      </li>
      <li *ngIf="!authService.loggedIn()" class="route-item"  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
        <a class="route" [routerLink]="['/login']"> Login </a>
      </li>
      <li *ngIf="!authService.loggedIn()" class="route-item"  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
        <a class="route" [routerLink]="['/register']"> Register </a>
      </li>
      <li *ngIf="authService.loggedIn()" class="route-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
        <a class="route" [routerLink]="['/dashboard']"> Dashboard </a>
      </li>
      <li *ngIf="authService.loggedIn()" class="route-item">
        <a class="route" href="#" (click)="onLogout()"> Logout </a>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li class="route-item" [routerLinkActive]="['active']"  [routerLinkActiveOptions] = "{exact:true}">
        <a class="route"  [routerLink]="['/']"> Home </a>
      </li>
      <li *ngIf="!authService.loggedIn()" class="route-item"  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
        <a class="route" [routerLink]="['/login']"> Login </a>
      </li>
      <li *ngIf="!authService.loggedIn()" class="route-item"  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
        <a class="route" [routerLink]="['/register']"> Register </a>
      </li>
      <li *ngIf="authService.loggedIn()" class="route-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
        <a class="route" [routerLink]="['/dashboard']"> Dashboard </a>
      </li>
      <li *ngIf="authService.loggedIn()" class="route-item">
        <a class="route" href="#" (click)="onLogout()"> Logout </a>
      </li>
    </ul>
  </div>
</nav>