<form class="default-form" (submit)="onLoginSubmit()">
    <label class="form-header">Login</label>
    <hr>
    <table class="data-table">
      <tr><td><label for="uname">Username</label></td></tr>
      <tr><td><input type="text" [(ngModel)] = "uname" name="uname" placeholder="doeboy"/></td></tr>
      <tr><td><label for="pword">Password</label></td></tr>
      <tr><td><input type="password" [(ngModel)] = "pword" name="pword" placeholder="********"/></td></tr>
    </table>
    <button type="submit" class="btn form-btn btn-go">login</button>
  </form>
  